header {
    text-align: center;
    background-color: darkcyan;
}

.forecast {
    color: white;
    background-color:#0275d8;
    border-radius: 5px;
    font-size: 8pt;
}

.search-history {
    list-style: none;
}

.currentweatherList {
    list-style: none;
}

.UVI {
    display: none;
}